<div class="loading" *ngIf="spinnerService.visibility | async">
    <mat-progress-spinner [diameter]="80" [mode]="'indeterminate'" [color]="'#0076a8'">
    </mat-progress-spinner>
</div>

<h2> Furniture </h2>
<div class="container filter-bar">
    <div class="row">
        <div class="col-md-3 md flex-vertical-center">{{ filteredProductList?.length }} products</div>
        <div class='col-xs-12 col-sm-12 col-md-6'>
            <div class="form-group search-wrapper">
                <span class="fa fa-search"></span>
                <input type="text" class="form-control" placeholder="Search" (keyup)="searchProducts($event)">
            </div>
        </div>
        <div class="col-6 sm">{{ filteredProductList?.length }} products</div>
        <div class="col-6 col-md-3 flex-horizontal-end">
            <button class="filter-button" (click)="filterOpen = !filterOpen">
                <i class="fa fa-sliders" aria-hidden="true"></i>
                <span>{{filterOpen ? 'Close' : 'Filter'}}</span>
            </button>
        </div>
    </div>
    <div *ngIf="filterOpen" class="row filter-content">
        <div class='col-xs-12 col-sm-12 col-md-6'>
            <mat-form-field appearance="fill">
                <mat-label>Type</mat-label>
                <mat-select [(value)]="typeFilter" (selectionChange)="filterProducts()">
                    <mat-option value=""> All Type </mat-option>
                    <mat-option *ngFor="let type of types" [value]="type">{{ type }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class='col-xs-12 col-sm-12 col-md-6'>
            <mat-form-field appearance="fill">
                <mat-label>Material</mat-label>
                <mat-select [(value)]="materialFilter" (selectionChange)="filterProducts()">
                    <mat-option value=""> All Material </mat-option>
                    <mat-option *ngFor="let material of materials" [value]="material">{{ material }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class='col-xs-12 col-sm-12 col-md-6'>
            <mat-form-field>
                <mat-label>Min Price</mat-label>
                <input matInput type="number" min="0" placeholder="Min Price" [(value)]="minPriceFilter"
                    (keyup)="minPriceChange($event)">
            </mat-form-field>
        </div>
        <div class='col-xs-12 col-sm-12 col-md-6'>
            <mat-form-field class="example-full-width">
                <mat-label>Max Price</mat-label>
                <input matInput type="number" min="0" placeholder="Max Price" [(value)]="maxPriceFilter"
                    (keyup)="maxPriceChange($event)">
            </mat-form-field>
        </div>
        <div class='col-12'>
            <mat-button-toggle-group name="saleButton" aria-label="Sale">
                <mat-button-toggle [checked]="isSaleFilter" 
                (change)="isSaleFilter = $event.source.checked; filterProducts();">Sale</mat-button-toggle>
                <mat-button-toggle [checked]="!isSaleFilter" 
                (change)="isSaleFilter = !$event.source.checked; filterProducts();">All</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div *ngFor="let product of filteredProductList" class="col-md-4 col-lg-3 product-card">
            <div *ngIf="product.IsSale" class="sale-tab"> Sale </div>
            <div class="card">
                <img src="{{'data:image/png;base64,'+ product.ProductImage}}" class="card-img-top" alt="...">
                <div class="card-body flex-vertical flex-vertical-start flex-horizontal-center">
                    <h5 class="card-title">{{ product.ProductName }}</h5>
                    <p class="card-text">{{ product.Price | currency }}</p>
                </div>
            </div>
            <div class="btn-detail">
                <a class="btn btn-primary" (click)="openDialog(product)"> View </a>
            </div>
        </div>
        <div class="list-no-results flex-center" *ngIf="filteredProductList?.length == 0">No record exists.</div>
    </div>
</div>