<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <img src="{{'data:image/png;base64,'+ product.ProductImage}}" class="card-img-top" alt="...">
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="card">
                <div class="card-body flex-vertical">
                    <h5 class="card-title">{{ product.ProductName }}</h5>
                    <p class="card-text">{{ product.Price | currency }}</p>
                    <p class="card-text">{{ product.ProductDetails.split('\n')[0] }}</p>
                    <p class="card-text">{{ product.ProductDetails.split('\n')[1] }}</p>
                </div>
            </div>
        </div>
    </div>
</div>